{% extends 'base.html' %}

{% block content %}
<html>
    <div class="container">
        {% if error %}
        {{error}}
        {% endif %}
        <br />
        <br />
        <h1>Sigh Up!</h1>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token%}
            <br />
            Username:
            <br />
            <input type="text" name="username" required/>
            <br />
            Password:
            <br />
            <input type="password" name="password1" required/>
            <br />
            Confirm Password:
            <br />
            <input type="password" name="password2" required/>
            <br />
            <br />
            <input class="btn btn-primary" type="submit" value="SignUp!"/>
        </form>
    </div>
</html>
{% endblock %}
